*~
# /src/
.project
.settings
.pydevproject
.metadata
Makefile
include/stamp-h1
*.o
*.a
config.log
config.status
libtool
lib/libnids-1.21_patched/configure.lineno
lib/libnids-1.21_patched/src/config.h
include/config.h
python/justniffer-grab-http-traffic
__pycache__
ws/test
build-stamp
debian/files
debian/justniffer.debhelper.log
debian/justniffer.substvars
debian/justniffer/
.vscode
.debhelper
autom4te.cache
/justniffer*.ddeb
/justniffer*.deb
/justniffer*.changes
/justniffer*.buildinfo
/justniffer*.dsc
/justniffer*.tar.xz
/justniffer*.tar.gz
/justniffer*.upload
/.env
/tmp