*.m4 linguist-vendored
compile* linguist-vendored
m4/ linguist-vendored
config* linguist-vendored
Make* linguist-vendored
autom4te.cache/* linguist-vendored
justniffer.8* linguist-vendored
depcomp linguist-vendored
*sh linguist-vendored
lib/libnids-1.21_patched/src/libnids.3* linguist-vendored