iframe
{
	border:none;
	height:0px;
	width:0px;
	
}
#copyrighttcp
{
    /*
     position:fixed;
     bottom:0px;
     left:10px;
     */
} 
            #content
{
    /*
     top:120px;
     left:10px;
     position:fixed;
     */
}	
			table.comparison 
			{
				border-spacing:0px;
				border-top:solid 1px;
				border-right:solid 1px;
				border-color: blue;
			}
			table.comparison caption
			{
				background-color: #EFFCFF;
				font-weight:bold;
				padding:6px;
				border-top:solid 1px blue;
				border-left:solid 1px blue;
				border-right:solid 1px blue;
			}
			
			table.comparison td, th
			{
				padding:6px;
				text-align:left;
				border-left:solid 1px;
				border-bottom:solid 1px;
				border-color:blue;
			}
			.featurename
			{
				font-weight:bold;
				background-color: #EFFCFF;
			}	
			.featurevalue
			{
			}	
			sup img
			{
				border:none;
			}
            body
            {
                    font-family:arial,sans-serif;
                    font-size:13px;
					padding-top:30px;
            }
            a
            {
                    color:blue;
            }
			h2
			{
				margin-top:30px;
			}
            h2.body
                        {
				margin-top:4px;
                font-weight: normal;
                font-size: 1em;
            }

			h3
			{
				margin-top:20px;
			}
            .home br
            {
                    margin-bottom:20px;
            }
            code
            {
                    font-family:Courier;
                    font-size:14px;
                    font-weight:bold;
            }
			div.content
			{
				
			}
            div.logs, div.help
            {
                    margin-top:10px;
                    margin-bottom:10px;
                    font-family:Courier;
            }

			div.help
			{
				white-space:pre;
			}

            div.logs div
            {
            		padding:4px 4px 4px 4px;
                    font-weight:bold;
                    color:#575757;
                    border:solid 1px white;
                    margin-bottom:10px;
            }
            div.logs div
            {
                    color:black;
                    background-color:#eaf1f6;
                    border:solid 1px #b3b3b3;
            }
            div.example, div.example1
            {
                    border-top:solid 1px #0069ff;
                    margin-bottom:30px;
                    
            }
			div.example
            {
                    margin-top:60px;
            	
            }
			div.description
			{
                    margin-top:10px;
			       margin-bottom:20px;
            }
            div.example div.command_line, div.example1 div.command_line
            {
                    font-weight:bold;
            }
            #copyright 
            {
                    margin-top:20px;
                    bottom: 0px;
                    font-size:12px;
                    background-color:white;
                    width:100%;
                    border-top:solid 1px  #0069ff;
            }
			span.highlight
			{
				padding-left:4px;
				padding-right:4px;
				background-color:#ffffbf;
				border:solid 1px lightgrey;
			}
			span.new
			{
				color:red;
			}
			div.links a.menu:hover
			{
			}
			div.links a.menu
			{
				margin:5px 5px 5px 5px;
				
			}
			div.links
			{
				padding:5px 5px 5px 5px;
				border-bottom:solid 1px #cae1f0;
				position:fixed;
				width:100%;
				top:0px;
				background-color:white;
				margin-left:auto;
				margin-right:auto;
			}
			div.index
			{
				margin-top:30px;
			}
			div.index div.l1
			{	
				margin-left:10px;
			}
			div.index div.l2
			{	
				margin-left:30px;
			}
			div.index div.l3
			{	
				margin-left:60px;
			}
			img.logo
			{
				
				margin-left:50px;
			}
